<div>
  <table>
    <tr>
      <td>Snake Lenght: </td>
      <!--<td>{{snake.getFields().length}}</td>-->
    </tr>
  </table>
  <button (click)="joinGame()" [disabled]="joined">Join game</button>
  <button *ngIf="gameState === 'no game'" [disabled]="!joined" (click)="startGame()">Start game</button>
  <button *ngIf="gameState === 'running'" disabled>Game running</button>
  <button (click)="restartGame()" *ngIf="gameState === 'running'">Restart Game</button>
  <p *ngIf="joined">You have successfully joined the game</p>
  <p *ngIf="!joined">Not connected</p>
</div>
<svg [attr.height]="pxHeight" [attr.width]="pxWidth">
  <g>
    <g *ngFor="let row of fields">
      <rect *ngFor="let field of row"
            [attr.width]="widthOfField"
            [attr.height]="heightOfField"
            [attr.stroke]="fieldStrokeColor"
            [attr.fill]="getColor(field)"
            [attr.x]="field.x * widthOfField"
            [attr.y]="field.y * heightOfField"
      ></rect>
    </g>
  </g>
</svg>
